/* ArticlePage */

.navigationLoading {
    margin-top: 7.25em;
}

/* EditorHeading */

.actionsBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5em;
}

.rightActions {
    display: flex;
    gap: 1.5em;
}

.switchers {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    gap: 1rem;
    width: 100%;
    margin-bottom: 2em;
}

/* TypeSwitcher */

.types {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
    width: 37%;
    height: fit-content;
}

.typeButton {
    background-color: transparent;
    border: 0;

    color: #0a0a0a;
    font-size: 1.1rem;

    padding: 0.5em 1.5em;
    cursor: pointer;

    transition: background-color 0.15s ease-in-out,
    color O.15s ease-in-out,
    box-shadow 0.2s ease-in;
}

.typeButton:hover {
    box-shadow: inset 0 0 0 2px #0a0a0a;
    border-radius: 30px;
}

.typeButton.selected {
    background-color: #0a0a0a;
    color: white;
    border-radius: 30px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
    cursor: pointer;
}

/* LanguageSwitcher */

.languageSwitcher {
    position: relative;
    height: 1.5em;
    margin: 1em;
}

.languageSwitcher svg {
    position: relative;
    z-index: 2;
    transition: fill 0.5s ease-in-out;
}

.languageSwitcher:hover svg {
    fill: #000000;
    cursor: auto;
}

.languagesContainer {
    position: absolute;
    top: -0.5em;
    right: -0.75em;
    padding: 0.1em 0.3em;
    margin-right: 0.5em;
    border-radius: 12px;
    z-index: 10;
    overflow: hidden;
    /*transition: max-width 0.5s ease,
    max-height 0.5s ease,
    opacity 0.6s ease-in-out,
    background-color 0.5s ease,
    color 0.3s ease-in-out;*/
    transition: all 0.5s ease;
    max-height: 2.25em;

    background-color: var(--black);
    color: white;
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.6);
}

.languageSwitcher:hover .languagesContainer {
    opacity: 1;
    max-height: 10em;
    max-width: 6em;
}

.selectedContainer {
    position: absolute;
    z-index: 0;
    height: 2em;
    background: #cacaca;
    border-radius: 25px;
    margin: 0 0.25em;
    transition: transform 0.3s ease-in-out;
    transform: translateY(0);
}

.languageVariant {
    display: flex;
    align-items: center;
    gap: 0.75em;
    cursor: pointer;
    padding: 0.5em;
    position: relative;
    z-index: 3;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.languageVariant p {
    margin: 0;
}

.languageVariant img {
    width: 1.5em;
    height: 1em;
}

/* SaveBtn */

.actionBtn {
    display: block;
    font-size: 1.1rem;
    padding: 0.5em 1.5em;
    cursor: pointer;
    border: 2px solid var(--black);
    background-color: var(--black);
    transition: all 0.2s ease-in-out;
    white-space: nowrap;
}

.actionBtn:hover {
    background-color: var(--white);
    color: var(--black);
}

.actionIconBtn {
    padding: 0.5em 0.5em 0;
}

.actionIconBtn svg {
    width: 1.25em;
    height: 1.25em;
    cursor: pointer;
    fill: var(--black);
    transition: fill 0.2s ease-in-out;
}

.actionIconBtn:hover svg {
    fill: var(--accent);
}

@media (min-width: 640px) {
    .articleCropper {
        aspect-ratio: 3 / 1;
    }
}