.adminBtn {
    font-size: 1.5rem;
    padding: 0.5em 2em;
    border: 1px solid var(--white);
    text-decoration: none;
    color: var(--white);
}

.adminBtn:hover {
    background-color: var(--white);
    color: var(--black);
}