.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin-top: 2em;
}

.step {
    padding: 0 2em;
    max-width: 20em;
}

.step2, .step3 {
    padding-top: 2em;
}

.step h2 {
    font-size: 2.75rem;
    font-family: Inter, sans-serif;
    font-weight: 400;
}

.step h3 {
    font-size: 1.5rem;
}

.step p {
    line-height: 1.75em;
}

@media (min-width: 768px) {
    .container {
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
    }

    .step3 {
        padding-top: 0;
    }
}

@media (min-width: 1200px) {
    .step2 {
        padding-top: 5em;
    }

    .step3 {
        padding-top: 10em;
    }
}