.header {
    position: sticky;
    top: 0;
    max-width: 100dvw;
    max-height: 20dvh;
    background-color: transparent;
    color: #f4f4f4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.8s ease;
    padding: 0.75em 1.5em;
    z-index: 100;
}

.scrolled {
    background-color: var(--main-blue);
    padding: 0.25em 1.5em;
}

.burgerIconContainer {
    display: block;
}

.burgerIconContainer svg {
    width: 1.5em;
    height: 1.5em;
    cursor: pointer;
}

.burgerIconContainer svg:hover {
    color: #c5c5c5;
}

.logo svg {
    width: 8em;
    height: fit-content;
    fill: #f4f4f4;
}

.links {
    display: none;
    gap: 1.5em;
    margin: 0 auto;
}

.links p {
    font-size: 1.25rem;
    cursor: pointer;
    border-bottom: 1px solid #f4f4f4;
    padding-bottom: 0.1em;
    display: inline-block;
}

.links p:hover {
    color: #c5c5c5;
    border-bottom: 1px solid #c5c5c5;
}

@media (min-width: 1024px) {
    .links {
        display: flex;
    }

    .burgerIconContainer {
        display: none;
    }
}