.articles h1 {
    text-align: center;
    margin: 1em 0 1.5em 0;
}

/* ArticlesByType */

.articlesList {
    max-width: 85dvw;
    margin: 0 auto;
}

.selectedBtn {
    background-color: white !important;
    color: black;
}

.typesButtons {
    display: flex;
    justify-content: space-around;
    border: 2px solid white;
    border-radius: 5px;
    padding: 1em 0;
    margin-bottom: 1em;
}

.typesButtons button {
    font-size: 1.1rem;
    border: 0;
    border-radius: 5px;
    padding: 0.75em 2em;
    cursor: pointer;
    background-color: #0a0a0a;
    transition: all 0.15s ease-in-out;
}

.typesButtons button:hover {
    box-shadow: inset 0 0 0 2px white;
}

/* ArticlesList */

.articlesList ul {
    padding-inline-start: 0;
}

.articlesList .loading {
    display: block;
    margin: 12% auto;
    max-width: fit-content;
}

.articlesList .error {
    display: flex;
    justify-content: center;
    color: white;
}

.articlesPage {
    background-color: white;
}

.tableRow {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    align-items: center;
    justify-items: start;
    gap: 4em;
}

.tableRow .date {
    white-space: nowrap;
}

/* AddNewWindow */

.addImgWindow {

}

.addNewButton {
    position: fixed;
    z-index: 10;
    bottom: 5%;
    right: 5%;
    margin: 1em auto;
    width: fit-content;
}

.addNewButton button {
    background: none;
}

.addNewButton svg {
    width: 3.5em;
    height: 3.5em;
    cursor: pointer;
    fill: white;
    stroke: black;
    transition: fill 0.2s ease-in;
}

.addNewButton svg:hover {
    fill: #b5b5b5;
}