.tableRow {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    align-items: center;
    justify-items: start;
    gap: 5em;
}

.articles h1 {
    text-align: center;
    margin: 1em 0;
}

/*
.articles a {
    color: inherit;
    text-decoration: none;
}

.articles button, a {
    transition: all 0.2s ease-in-out;
}
*/

.ArticlesList {
    max-width: 85dvw;
    margin: 0 auto;
}

.ArticlesList ul {
    padding-inline-start: 0;
}

.imageWrapper {

}

.image {

}

.addImgInput {
    display: none;
}

.addImgBtn {
    min-width: 10em;
}

.ArticlesPage {
    background-color: white;
}

.SaveBtn {
    display: block;
    font-size: 1.1rem;
    margin: 3em auto;
    padding: 0.5em 2em;
    cursor: pointer;
    border: 2px solid var(--bg-main);
    background-color: var(--bg-main);
    transition: all 0.2s ease-in-out;
}

.SaveBtn:hover {
    background-color: var(--text-main);
    color: var(--bg-main);
}