.tableRow {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    align-items: center;
    justify-items: start;
    gap: 5em;
    margin: 2em;
}

.articles h1 {
    text-align: center;
    margin: 1em 0;
}

.ArticlesList {
    max-width: 80dvw;
    margin: 0 auto;
}

.imageWrapper {

}

.image {

}

.addImgInput {
    display: none;
}

.addImgBtn {
    min-width: 10em;
    padding: 0.5em 1em;
    border-radius: 25px;
    cursor: pointer;
    border: 1px solid var(--text-main);
    background-color: var(--bg-main);
    transition: all 0.2s ease-in-out;
}

.addImgBtn:hover {
    background-color: var(--text-main);
    color: var(--bg-main);
}