* {
    font-family: Inter, sans-serif;
}

.h-placeholder {
    height: 100vh;
}

.content {
    transition: transform 0.5s ease-in-out;
}

.moveContent {
    transform: translateX(-20em);
}

/* 2. Tablet styles – shrink layout if needed */
@media (max-width: 1024px) {

}

/* 3. Mobile styles – single-column layout */
@media (max-width: 768px) {

}